.logo-color {
    color: #2848c6;
}

.nav-text-color {
    color: #6d7b93;
}

/*  BUTTONS - START*/
.blue-buttons-color {
    background-color: #2b4bc9;
    color: #fff;
    padding: .9rem 2rem .9rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(114, 114, 114);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.ligth-blue-buttons-color {
    background-color: #f1f5ff;
    color: #2b4bc9;
    padding: .9rem 2rem .9rem 2rem;
    border-radius: 5px;    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
/*  BUTTONS - END*/

.title-color {
    color: #1f3e72;
}

.regular-text-color {
    color: #6d7b93;
}


.image-background-color {
    background-color: #148ae3;
}

.triangle-color {
    background-color: #f4f6fb;
}

.yellow-icon {
    box-shadow: 0px 5px 10px yellow;
    
}

/* MAIN-TEXT ICONS AND TEXT START*/
#shield {
    width: 1rem;
    margin-right: 1rem;
}

#star {
    width: 1rem;
    margin-right: 1rem;
}

.main-icon-text {
    margin-right: 1rem;
}
/* MAIN-TEXT ICON AND TEXT END */

/* GENERAL ICONS START */
.icon-wrapper {
    background-color: #f1f5ff;                                                
    display: inline-block;
    color: #2f4fcd;
    font-size: 2rem;
    width: 3.5rem;                        
    height: 3.5rem;
    text-align: center;                        
    border-radius: 5px;
}

.icon-aligment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}
/* GENERAL ICONS - END*/

/* GENERAL FONTS - START */
.text-font {    
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2rem;    
}

.main-titles {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}
/* GENERAL FONTS - END */

a {
    text-decoration: none;
}

.logo {    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: .5px;
}

/* BACKGROUND TRIANGLES IMAGES CONFIGURATION - START*/
.triangle-up-rigth {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-right: 70px solid #f4f6fb;    
}

.triangle-up-left {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 70px solid #f4f6fb;    
    /* border: 1px solid #000; */
}

.triangle-down-left {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 70px solid transparent;
    border-bottom: 70px solid #f4f6fb;   
    /* border: 1px solid #000; */
}

.triangle-down-right {
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #f4f6fb;   
    /* border: 1px solid #000; */
}

.triangle-down-right-2 {
    width: 0;
    height: 0;
    border-bottom: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 70px solid #f4f6fb;   
    /* border: 1px solid #000; */
}

.triangle {
    width: 45px;
    height: 45px;    
    border: 1px solid #000;
}
/* BACKGROUND TRIANGLES IMAGES CONFIGURATION - START*/

.container {    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.12fr .90fr .85fr .80fr .90fr .3fr;    
    background-color: #fff;
}
    /* ######################## HEADER ###################### */
    .container .header {
        grid-column: 1 / 5;       
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    }

        .container .header .header-wrapper {
            grid-column: 2 / 6;            
            display: flex;            
            align-items: center;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 53%, rgba(242,248,253,1) 54%, rgba(231,242,252,1) 100%);            
        }

            .container .header .header-wrapper .logo{
                flex-grow: 4;                
                text-align: left;
            }

                .container .header .header-wrapper .main-menu{
                    flex-grow: 3;                    
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    font-weight: 600;
                }

                    .container .header .header-wrapper .main-menu ul{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        list-style: none;
                        justify-content: space-around;
                    }  

                            .container .header .header-wrapper .main-menu ul li a {
                                padding: 5px;                                                                                        
                            }

            .container .header .header-wrapper .buster-button{
                flex-grow: 1;                
                text-align: center;
                letter-spacing: 0.5px;
            }

    /* ######################## MAIN - IMAGE SECTION ###################### */
    .container .main-image {
        grid-column: 1 / 5;
        background-color: #fff;
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;
        padding: 0px;        
        margin: 0px;
    }

        .container .triangle-wrapper {
            grid-column: 1 / 2;            
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }           

        .container .main-image-wrapper {            
            grid-column: 2 / 6;            
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;       
        }

            .container .main-image .main-image-wrapper .image-wrapper {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: nowrap;
            }

            .container .main-image .main-image-wrapper .image-wrapper .image-container {                        
                width: 100%;
                height: 90%;
            }

            .container .main-image .main-image-wrapper .image-wrapper .image-container img {
                width: 100%;
                object-fit: cover;
            }

            .container .main-image-wrapper .main-text {               
                width: 50%;
                height: 100%;                
            }

                .container .main-image-wrapper .main-text .triangle{
                    margin-bottom: 1.5rem;                    
                }

                .container .main-image-wrapper .main-text #star-main-image-text-title {
                    margin-top: 1rem;
                }

                .container .main-image-wrapper .main-text #end-main-image-text-title {
                    margin-bottom: 2rem;
                }

                .container .main-image-wrapper .main-text .big {
                    font-size: 4.1rem;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 0;
                }

                    .container .main-image-wrapper .main-text .main-regular-text-wrapper {                        
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }

                        .container .main-image-wrapper .main-text .main-regular-text-wrapper p {
                            margin-top: .5rem;
                            margin-bottom: .5rem;                            
                        }

                        /* TRIANGLE */
                        .container .main-image-wrapper .main-text .main-regular-text-wrapper .triangle-maintext-big {
                            align-self: flex-end;
                            justify-self: flex-end;
                            margin-top: 0;
                            margin-bottom: 0;
                            border-top: 120px solid transparent;
                            border-left: 120px solid transparent;
                            border-bottom: 120px solid #f4f6fb;                           
                        }

                        .container .main-image-wrapper .main-text #main-text-row {
                            flex-direction:row;
                            justify-content: space-between;

                        }

                            .container .main-image-wrapper .main-text #main-text-row .triangle-maintext-big-2 {
                                border-left: 120px solid transparent;
                                border-bottom: 120px solid transparent;
                                border-right: 120px solid #f4f6fb;
                            }
                           

            .container .main-image-wrapper .image-wrapper {                                
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

                .container .main-image-wrapper .image-wrapper .image-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;                    
                }

                .container .main-image-wrapper .image-wrapper .image-container img {
                    width: 100%;
                    object-fit: cover;
                }


    /* ######################## BENEFITS - SECTION - START ###################### */
    .container .benefits {
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;        
        background-color: #fff;        
    }            

        .container .benefits .benefits-wrapper {
            background-color: #fff;
            grid-column: 2 / 6;
            margin-top: 5rem;
        }

            .container .benefits .benefits-wrapper .companies-gallery {
                display: grid;                      
                grid-template-columns: 1.15fr 1.15fr 1.15fr 1.15fr .4fr;
                height: 300px;
                
            }

                .container .benefits .benefits-wrapper .companies-gallery .card-company-1 {
                    grid-column: 1 / 2;
                    background-color: #fff;                    
                }

                    .container .benefits .benefits-wrapper .companies-gallery .card-company-1 img {
                        width: 100%;
                    }

                .container .benefits .benefits-wrapper .companies-gallery .card-company-2 {
                    grid-column: 2 / 3;
                    background-color: #fff;                    
                }

                    .container .benefits .benefits-wrapper .companies-gallery .card-company-2 img {
                        width: 100%;
                    }

                .container .benefits .benefits-wrapper .companies-gallery .card-company-3 {
                    grid-column: 3 / 4;
                    background-color: #fff;                    
                }

                    .container .benefits .benefits-wrapper .companies-gallery .card-company-3 img {
                        width: 100%;
                    }

                .container .benefits .benefits-wrapper .companies-gallery .card-company-4 {
                    grid-column: 4 / 5;
                    background-color: #fff;                    
                }

                    .container .benefits .benefits-wrapper .companies-gallery .card-company-4 img {
                        width: 100%;
                    }

                .container .benefits .benefits-wrapper .companies-gallery .card-triangle {
                    grid-column: 5 / 6;
                    background-color: #fff;
                    width: 100%;                    
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                }

                    .container .benefits .benefits-wrapper .companies-gallery .card-triangle .triangle-down-left {
                        border-top: 90px solid transparent;
                        border-left: 90px solid transparent;
                        border-bottom: 90px solid #f4f6fb;
                    }

            .container .benefits .benefits-wrapper .benefits-text .benefits-triangle-wrapper {                
                display: flex;
                flex-direction: column;                
            }

                .container .benefits .benefits-wrapper .benefits-text .benefits-triangle-wrapper .triangle-up-rigth {                    
                    justify-self: flex-start;
                    align-self: flex-end;
                    border-left: 90px solid transparent;
                    border-bottom: 90px solid transparent;
                    border-right: 90px solid #f4f6fb;
                }

                .container .benefits .benefits-wrapper .benefits-text h2 {
                    margin-top: -105px;                    
                }

                .container .benefits .benefits-wrapper .benefits-text p {
                    margin-top: 0;
                    margin-bottom: .8rem;
                }

            .container .benefits .benefits-wrapper .benefits-gallery-card {
                margin-top: 5rem;
                margin-left: 2rem;
                margin-right: 2rem;                
                display: grid;
                grid-template-columns: repeat(4, .2fr);
                gap: 1.5rem;
                justify-content: center;

            }

                .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card {                    
                    border-radius: 5px;
                    box-shadow: 0px 5px 10px rgb(223, 223, 223);            
                    padding: 1.5rem;
                }

                    .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card .icon-wrapper {                        
                        background-color: #f1f5ff;                                                
                        
                    }                    
                    
                    .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card h3 {
                        font-weight: 400;
                    }

                    .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card p {
                        font-size: 1rem;
                        line-height: 1.7rem;
                    }

                .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card:hover {
                    box-shadow: 0px 16px 20px -6px #9bb3e2;
                    text-shadow: 0px 10px 30px #9bb3e2;            
                }

                .container .benefits .benefits-wrapper .benefits-gallery-card .benefits-card:hover > .icon-wrapper {                  
                    box-shadow: 0px 16px 16px -6px #9bb3e2;   
                }               
    /* ######################## BENEFITS - SECTION - END ###################### */

    /* ######################## PREPARATIONS - SECTION - START ###################### */
    .container .preparations {
        grid-column: 1 / 5;
        background-color: lightgoldenrodyellow;
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;        
        background-color: #fff;
    }

        .container .preparations .preparations-wrapper {
            grid-column: 1 / 6;
            background-color: #fff;
            display: grid;            
            grid-template-columns: .9fr 1fr;            
            grid-template-rows: .2fr .2fr 1fr;
        }

        .container .preparations .preparations-wrapper .triangle-wrapper {
            grid-column: 1 / 3;            
        }

        .container .preparations .preparations-wrapper .triangle-wrapper1 {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }        

        .container .preparations .preparations-wrapper .triangle-wrapper2 {
            grid-column: 1 / 2;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .container .preparations .preparations-wrapper .preparations-text {
            grid-column: 2 / 3;
        }
        
            .container .preparations .preparations-wrapper .preparations-text h2 {
                margin-top: -30px;
            }

            .container .preparations .preparations-wrapper .preparations-text p {
                line-height: 1rem;
            }

        .container .preparations .preparations-wrapper .image-preparations {
            grid-column: 1 / 2;
            display: flex;            
            justify-content: center;
            align-items: flex-end;            
            position: relative;
        }

            .container .preparations .preparations-wrapper .image-preparations .image-preparation-blue-background {                
                height: 60%;
                width: 100%;                
                position: absolute;
                align-self: flex-end;
                justify-self: flex-end;
                z-index: 1;
            }

            .container .preparations .preparations-wrapper .image-preparations .image-preparations-container {
                z-index: 2;                
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

                .container .preparations .preparations-wrapper .image-preparations .image-preparations-container img {                    
                    width: 100%;
                    object-fit: cover;                    
                }

        .container .preparations .preparations-wrapper .suggestions-wrapper {
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        
            .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions {                
                width: 90%;                
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0px 5px 5px rgb(218, 218, 218);
            }

                .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions {                   
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                    .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .icon-suggestions {                        
                        width: 10%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .icon-suggestions .icon-wrapper {
                            font-size: 1rem;
                            width: 2.5rem;                        
                            height: 2.5rem;
                        }

                    .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .text-tittle {                        
                        width: 80%;
                        height: 100%;
                    }

                    .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .open-close-icon {                        
                        width: 10%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .open-close-icon .icon-wrapper {
                            font-size: 1rem;
                            width: 1.8rem;                        
                            height: 1.8rem;
                        }

                        .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .title-suggestions .open-close-icon .rotate-icon {
                            transform: rotate(180deg);                                                      
                        }

                .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .content-suggestions {                                                                            
                    width: 100%;
                    height: 0%;                    
                }

                .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .content-suggestions p {
                    font-size: .9rem;
                    text-align: justify;
                    line-height: 25px;
                }                                                                           

                /*Mostrar el texto de suggestions*/
                .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .show-content-suggestions {
                    height: 100%;
                }                    
                                       
                    /*Mostrar el texto de suggestions*/
                    .container .preparations .preparations-wrapper .suggestions-wrapper .suggestions .content-suggestions .disapear-text {
                        display: none;                        
                    }

    /* ######################## PREPARATIONS - SECTION - END ###################### */

    /* ######################## EMERGENCY-CONTACT - SECTION - START ###################### */
    .container .emergency-contact {
        grid-column: 1 / 5;
        /* background-color: lightgray;         */
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    }

        .container .emergency-contact .emergency-wrapper {
            /* background-color: lightcoral; */
            grid-column: 2 / 6;
            display: grid;
            grid-template-columns: repeat(2, 1fr);            
            grid-template-rows: .2fr .4fr 1fr;
        }

            .container .emergency-contact .emergency-wrapper .triangle-wrapper1 {
                grid-column: 1 / 3;                                
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }

                .container .emergency-contact .emergency-wrapper .triangle-wrapper1 .triangle-down-left-big {
                    border-top: 12px solid transparent;
                    border-left: 120px solid transparent;
                    border-bottom: 120px solid #f4f6fb; 

                }

            .container .emergency-contact .emergency-wrapper .emergency-text {
                grid-column: 1 / 2;
            }

                .container .emergency-contact .emergency-wrapper .emergency-text h2 {
                    margin-top: -30px;
                }

                .container .emergency-contact .emergency-wrapper .emergency-text p {
                    line-height: 1rem;
                }

            .container .emergency-contact .emergency-wrapper .triangle-wrapper2 {
                grid-column: 2 / 3;
            }

                .container .emergency-contact .emergency-wrapper .triangle-wrapper2 .triangle-up-rigth-big {
                    border-left: 120px solid transparent;
                    border-bottom: 120px solid transparent;
                    border-right: 120px solid #f4f6fb;
                }

                .container .emergency-contact .emergency-wrapper .contact-info-wrapper {
                    grid-column: 1 / 2;
                    display: flex;
                    align-items: center;                                                                                                         
                    /* border: 1px solid #000;                                         */
                }

                    .container .emergency-contact .emergency-wrapper .contact-info-wrapper .contact-info-gallery { 
                        height: 65%;
                        width: 100%;                                            
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 1.5rem;                                
                        justify-content: center;
                        /* border: 1px solid tomato; */
                        /* background-color: lightgreen; */
                        
                    }

                .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact {                    
                    border-radius: 5px;
                    width: 70%;
                    justify-self: center; 
                    box-shadow: 0px 5px 10px rgb(223, 223, 223)                
                }

                    .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }

                    .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text a:hover {
                        background-color: #2b4bc9;
                        color: #fff;
                        padding: .9rem 2rem .9rem 2rem;
                        border-radius: 5px;
                        box-shadow: 0px 5px 10px rgb(114, 114, 114);
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;                        
                    }

                    .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text .contact-info-title{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                    }                    

                    .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text .contact-info-title .contact-info {                        
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: space-between;                        
                    }

                        .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text .contact-info-title .contact-info h3 {
                            margin-top: 0;
                            margin-bottom: 0;
                            font-weight: 600;
                        }                       

                        .container .emergency-contact .emergency-wrapper .contact-info-gallery .card-contact .contact-info-text .contact-info-title .contact-info .phone-numbers {
                            font-size: .9rem;
                            margin-top: 0;
                            margin-bottom: 0;
                        }

            .container .emergency-contact .emergency-wrapper .emergency-image {
                grid-column: 2 / 3;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }

                .container .emergency-contact .emergency-wrapper .emergency-image .emergency-background-blue {                    
                    width: 100%;
                    height: 60%;
                    position: absolute;
                    z-index: 1;
                }

                .container .emergency-contact .emergency-wrapper .emergency-image .emergency-image-container {
                    height: 100%;
                    width: 100%;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }

    /* ######################## EMERGENCY-CONTACT - SECTION - END ###################### */

    /* ######################## FOOTER - SECTION - START ###################### */
    .container .footer {
        grid-column: 1 / 5;
        background-color: #eef3ff;
        display: grid;
        grid-template-columns: .5fr repeat(4, 1fr) .5fr;
    }

        .container .footer .footer-wrapper {
            grid-column: 2 / 6;            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-rows: 1.6fr 1fr;
        }

        .container .footer .footer-wrapper .footer-info {
            grid-column: 1 / 3;            
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

            .container .footer .footer-wrapper .footer-info .info-text {
                grid-column: 1 / 2;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
            }

                .container .footer .footer-wrapper .footer-info .info-text .info-text-title .title-info-text-footer {                    
                    font-size: 2rem;
                }

                .container .footer .footer-wrapper .footer-info .info-text .info-text-paragraphs .reg-info-text-footer {                    
                    line-height: 1rem;
                }

                .container .footer .footer-wrapper .footer-info .info-text .info-text-paragraphs .reg-info-text-footer:first-child {
                    margin-top: 0;
                }

            .container .footer .footer-wrapper .footer-info .other-links-gallery {
                grid-column: 2 / 3;
                display: grid;
                grid-template-columns: repeat(3, 1fr);                
            }

                .container .footer .footer-wrapper .footer-info .other-links-gallery .links-card {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                }

                    .container .footer .footer-wrapper .footer-info .other-links-gallery .links-card .title-link-cards {
                        font-size: 1.5rem;
                    }                    

        .container .footer .footer-wrapper .copy-terms {
            grid-column: 1 / 3;            
            display: grid;
            grid-template-columns: 1.5fr .5fr;
        }

            .container .footer .footer-wrapper .copy-terms .copyrigth-text-wrapper {
                /* border: 1px solid #000; */
                display: flex;
                align-items: flex-end;                
            }
            
                .container .footer .footer-wrapper .copy-terms .copyrigth-text-wrapper p {
                    font-size: 1rem;
                }
                

            .container .footer .footer-wrapper .copy-terms .copyrigth-triangle-wrapper {
                /* border: 1px solid #000; */
                display: flex;
                align-items: flex-end;
                justify-content: center;                
            }

                .container .footer .footer-wrapper .copy-terms .copyrigth-triangle-wrapper p {
                    z-index: 2;
                    font-size: 1rem;
                }

                .container .footer .footer-wrapper .copy-terms .copyrigth-triangle-wrapper .privacy-text {
                    margin-left: 1.5rem;
                }

                .container .footer .footer-wrapper .copy-terms .copyrigth-triangle-wrapper .copyright-triangle {
                    position: absolute;
                    z-index: 1;
                    width: 0;
                    height: 0;
                    border-left: 155px solid transparent;
                    border-right: 155px solid transparent;
                    border-bottom: 155px solid #e2e9f9;                  
                    
                }
                

    /* ######################## FOOTER - SECTION - END ###################### */

